html {
  font-family: 'Roboto', sans-serif;
}

#page-home {
	height: 100vh;

	background: url('../assets/home-background.svg') no-repeat;
	background-position: 35vw bottom;
}

#page-home .content {
	width: 90%;
	max-width: 1100px;

	margin: 0 auto;
}

#page-home header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
