html {
  font-family: 'Roboto', sans-serif;
}


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 90%;
  max-width: 1100px;
  
  margin: 0 auto;
}